*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  width: 1280px;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.wrapper {
  /* font-weight: 400; */
  margin-top: 63px;
  /* margin-left: 0px; */
}

.wrapper-logo {
  color: #000000;
  text-decoration: none;
  /* font-weight: 400; */
  font-size: 80px;
  line-height: 94px;
}

.wrapper-logo > span {
  color: #4bcaff;
  /* text-decoration: none;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px; */
}

.menu {
  background: #35444f;
}

.menu_items {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style-type: none;
}

.menu_item {
  /* align-items: center;
  display: flex; */
  border-right: 1px solid #ffffff;
  /* border-radius: 0px; */
  /* justify-content: center; */
  /* font-weight: 400; */
  font-size: 24px;
  line-height: 28px;
  padding: 24px 20px 18px;
  /* padding-top: 24px;
  padding-bottom: 18px; */
  /* width: 1280px; */
}

.menu_item:first-child {
  border-left: 1px solid #ffffff;
}

.menu_link {
  text-decoration: none;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 54px;
}

.aside_items {
  list-style-type: none;
  padding-left: 0;
  width: 345px;
  border: 1px solid #7f7f7f;
  margin: auto;
  margin-left: 0;
}

.aside_item {
  font-size: 27px;
  line-height: 27px;
  padding-top: 26px;
  padding-bottom: 30px;
  padding-left: 44px;
  padding-right: 82px;
}

.aside_link {
  text-decoration: none;
}

.image {
  padding: 75px 268px 73px 297px;
  border: 1px solid #7f7f7f;
}

.text-item {
  font-size: 18px;
  line-height: 24px;
}

.page_content {
  width: 885px;
}

footer {
  padding-bottom: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
}

.footer-items {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  font-size: 28px;
  line-height: 28px;
  margin-top: auto;
  margin-bottom: auto;
  color: #0c1927;
}

.footer-item {
  padding: 20px 0 20px 40px;
}
.footer-validation {
  margin-top: auto;
  margin-bottom: auto;

  padding-right: 40px;
  padding-top: 10px;
}
